<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.wjy.bill.mapper.AccountMapper">
    <update id="plusTo" parameterType="me.wjy.bill.pojo.dto.BillDTO">
        update account
        set balance = balance + #{money}
        where name = #{account}
          and user_id = #{userId}
    </update>
    <update id="minusFrom" parameterType="me.wjy.bill.pojo.dto.BillDTO">
        update account
        set balance = balance - #{money}
        where name = #{account}
          and user_id = #{userId}
    </update>
    <select id="getSum" resultType="java.lang.Double">
        select sum(balance)
        from account
        where user_id = #{userId}
    </select>
    <select id="getSumDetails" resultType="me.wjy.bill.pojo.vo.AccountVO">
        select name, balance
        from account
        where user_id = #{userId}
    </select>
</mapper>