<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.wjy.bill.mapper.AccountMapper">
    <update id="plusTo" parameterType="me.wjy.bill.pojo.dto.BillDTO">
        update account
        set balance = balance + #{money}
        where name = #{account}
          and user_id = #{userId}
    </update>
    <update id="minusFrom" parameterType="me.wjy.bill.pojo.dto.BillDTO">
        update account
        set balance = balance - #{money}
        where name = #{account}
          and user_id = #{userId}
    </update>
    <select id="getSum" resultType="java.lang.Double">
        select sum(balance)
        from account
        where user_id = #{userId}
    </select>
    <select id="getSumDetails" resultType="me.wjy.bill.pojo.vo.AccountVO">
        select name, balance
        from account
        where user_id = #{userId}
    </select>

    <insert id="addAccount" parameterType="me.wjy.bill.pojo.dto.AccountDTO">
        insert into account(name,
        <if test="balance != null">
            balance,
        </if>
        user_id)
        values(
        #{name},
        <if test="balance != null">
            #{balance},
        </if>
        #{userId}
        )
    </insert>
    <delete id="rmAccount" parameterType="me.wjy.bill.pojo.dto.AccountDTO">
        delete
        from account
        where name = #{name}
          and user_id = #{userId}
    </delete>
    <update id="updateAccount" parameterType="me.wjy.bill.pojo.dto.AccountUpdateDTO">
        update account
        <trim prefix="set" suffixOverrides=",">
            <if test="newName != null">
                name = #{newName},
            </if>
            <if test="balance != null">
                balance = #{balance},
            </if>
        </trim>
        where user_id = #{userId}
        and name = #{oldName}
    </update>
    <select id="getAllAccount" resultType="me.wjy.bill.pojo.po.AccountDO">
        select name, balance
        from account
        where user_id = #{userId}
    </select>
    <select id="getByName" resultType="me.wjy.bill.pojo.po.AccountDO">
        select name, balance
        from account
        where name = #{name}
          and user_id = #{userId}
    </select>
</mapper>