<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.wjy.bill.mapper.UserMapper">
    <select id="getUser" parameterType="me.wjy.bill.pojo.dto.UserDTO" resultType="me.wjy.bill.pojo.po.UserDO">
        select id, user_id, name, password
        from user
        where user_id = #{userId}
    </select>
</mapper>